.seccion{
    display: flex;
    margin: 0px;
  padding: 0px;
  }
    .articulos{
        margin: 10px;
        flex: 2 1 auto;
        display: flex;	/*uno a lado del otro*/
        flex-flow: row wrap; 
    }
        .donacion{
          background: #f8f5df;  
          flex: 1 1 30%;
          margin: 8px;
          padding: 0px;
        }
            .donacion img{
            width: 100%;
            height: 100%;
            }
        .article{
          background: #f8f5df;  
            flex: 1 1 35%;
            margin: 8px;
          padding: 7px;
        }
        .article h2 {
            font-size: 26px; 
            color: #009ac6;
        }
        
        .article p {
            font-size: 18px; 
        }
        
        .botones-apoyo {
          display: flex;
          flex-wrap: wrap;
      }
  
      button {
        background-color: #a8ddf5; 
        color: rgb(8, 8, 8); 
        padding: 10px 20px; 
        font-size: 16px; 
        border: none; 
        border-radius: 5px; 
        cursor: pointer; /* Cambia el cursor al pasar el ratón */
        text-decoration: none; /* Quita el subrayado del enlace dentro del botón */
    }
    
    button:hover {
        background-color: #e7f5a9; /* Cambia el color de fondo al pasar el ratón */
    }
  
      .aside{
        background: #f8f5df;
        flex: 1 1 120%;
        margin: 0%;
      padding: 4px;
      
    }
        .forma-apoyo{  
          padding: 1%;
        }
  
      
      .opcion {
          width: 100%;
          box-sizing: border-box;
          padding: 8px;
      }
      
      .opcion h3, .opcion p {
          margin-bottom: 10px;
      }
      .forma-apoyo h2{
        color: #009ac6;
      }

      @media screen and (max-width: 800px) {
        .seccion {
          flex-direction: column;
        }
      
        .articulos {
          flex-direction: column;
        }
      
        .article {
          text-align: center; /* Centrar el texto en dispositivos de pantalla pequeña */
        }
      }
      
      /* Estilos para dispositivos con un ancho máximo de 600px */
      @media screen and (max-width: 600px) {
        .article {
          font-size: 16px; /* Reducir el tamaño de fuente en dispositivos más pequeños si es necesario */
        }
      }
      
      /* Estilos para dispositivos con un ancho máximo de 400px */
      @media screen and (max-width: 400px) {
        .aside {
          flex-direction: column;
        }
      }
      
    
/***************************VOLUNTARIADO**************************/
.voluntariado {
  max-width: 100%;
  padding: 8px; /* Ajusta el relleno según sea necesario */
  box-sizing: border-box;
}

/* Estilos para la sección de importancia del voluntariado */
.importancia-voluntariado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.importancia-voluntariado .imagen {

display: flex;	/*uno a lado del otro*/

}

.imagen{
  background: #f8f5df;  
  flex: 1 1 40%;
  padding: 30px;
}
    .imagen img{
      width: 100%;
    height: 100%;
    }

.texto{
  background: #f8f5df;  
    flex: 1 1 60%;
    margin: 3px;
    padding: 40px;
}
.texto h2 {
    font-size: 26px; 
}

.texto p {
    font-size: 18px; 
}


.importancia-voluntariado h2,h3 {
  color: #009ac6;
}

/* Columnas */
.unete-voluntarios {
  background: #f8f5df;
  margin-bottom: 120px; /* margen inferior */
  text-align: center;
  padding: 10px;    
}

.unete-voluntarios h2 {
  color: #009ac6;
}

.columnas {
  margin-bottom: 25px; /* espacio entre columnas */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10x;
}

.columna {
  flex: 1;
  text-align: center;
  padding: 8px;
}

.columna img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}    