
.seccion{
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-direction: column;
}
  .articulos{
      margin: 10px;
      flex: 2 1 auto;
      display: flex;	/*uno a lado del otro*/
      flex-flow: row wrap; 
      -webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
  }
      .donacion{
        
        flex: 1 1 30%;
        margin: 8px;
        padding: 1px;
      }
          .donacion img{
          width: 100%;
          }
      .article{
        
          flex: 1 1 35%;
          margin: 8px;
        padding: 30px;
      }
      .article h2 {
          font-size: 26px; 
          color: #009ac6;
      }
      
      .article p {
          font-size: 18px;
          text-align: justify; 
      }
      
    .aside{
      margin: 1%;
      padding: 4px;
      margin-bottom: 3%;
  }
  
      .forma-apoyo{  
        padding: 1%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        -webkit-animation: roll-in-left 0.6s ease-out both;
	        animation: roll-in-left 0.6s ease-out both;
      }
      .aside h3{
        text-align: center;
        font-size: 40px;
      }
      .aside h2{
        text-align: center;
      }
    
        .opcion img {
            max-width: 70%; /* Ajusta el ancho máximo de la imagen */
            height: 85%;
            margin: 10px; /* Agrega espacio entre la imagen y el párrafo */
        }
  
      .opcion {
          flex: 1 1 30%; /* Establece un ancho fijo para cada opción */
          flex-direction: column;
          
          align-items: center;
          margin-right: 10px; /* Agrega espacio entre las opciones */
      }
          .opcion p{
            text-align: justify;
            padding: 4%;
          }
      
      .imagen-redondeada {
        border-radius: 40px; /* Redondea las esquinas superior izquierda, superior derecha, inferior derecha, e inferior izquierda respectivamente */
    }
    
    .forma-apoyo h2{
      color: #009ac6;
      text-align: center;
    }
    .forma-apoyar h3{
      color: #009ac6;
      text-align: center;
    }


    .seccion-imagen {
      text-align: center; /* Centra el texto e imágenes horizontalmente */
      margin-top: 20px; /* Espacio entre el contenido superior e inferior, ajusta según sea necesario */
  }
  
  /* Estilos adicionales si lo necesitas */
  .seccion-imagen h4 {
      font-size: 25px; /* Ajusta el tamaño del texto según sea necesario */
  }

    .imagen-movible {
      width: 35%; /* Reducir el tamaño al 80% del contenedor */
      animation: moverArribaAbajo 2s infinite alternate; /* Nombre de la animación, duración, repetición e intercalación */
  }
  
  @keyframes moverArribaAbajo {
  0% {
      transform: translateY(0); /* Inicio de la animación: posición original */
  }
  100% {
      transform: translateY(20px); /* Fin de la animación: mueve hacia abajo 20px */
  }
  }



    @media screen and (max-width: 800px) {
      .seccion {
        flex-direction: column;
      }
    
      .articulos {
        flex-direction: column;
      }
    
      .article {
        text-align: center; /* Centrar el texto en dispositivos de pantalla pequeña */
      }
    }
    
    /* Estilos para dispositivos con un ancho máximo de 600px */
    @media screen and (max-width: 600px) {
      .article {
        font-size: 16px; /* Reducir el tamaño de fuente en dispositivos más pequeños si es necesario */
        flex-direction: column;
      }
    }
    
    /* Estilos para dispositivos con un ancho máximo de 400px */
    @media screen and (max-width: 400px) {
      .aside {
        flex-direction: column;
      }
      .opcion {
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;
    }
    .forma-apoyo{
      flex-direction: column;
    }
    }
    
  
  
  
/***************************VOLUNTARIADO**************************/
.voluntariado {
max-width: 100%;
padding: 8px; /* Ajusta el relleno según sea necesario */
box-sizing: border-box;
}

/* Estilos para la sección de importancia del voluntariado */
.importancia-voluntariado {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px;
-webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.importancia-voluntariado .imagen {
display: flex;	/*uno a lado del otro*/

}

.imagen{
flex: 1 1 40%;
padding: 30px;
}
  .imagen img{
    width: 100%;
  height: 100%;
  }

.texto{
background: #d7eeec;  
  flex: 1 1 60%;
  margin: 3px;
  padding: 40px;
}
.texto h2 {
  font-size: 26px; 
}

.texto p {
  font-size: 18px; 
  text-align: justify;
}


.importancia-voluntariado h2,h3 {
color: #009ac6;
}

/* Columnas */
.unete-voluntarios {

margin-bottom: 305px; /* margen inferior */
text-align: center;
padding: 10px;    
-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.unete-voluntarios h2 {
color: #009ac6;
font-size: 45px;
}

.columnas {
margin-bottom: 25px; /* espacio entre columnas */
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
padding: 10x;

}

.columna {
flex: 1;
text-align: center;
padding: 8px;
margin: 2%;
}

.columna img {
max-width: 100%;
height: 100%;
object-fit: cover;
margin: 1%;
margin-bottom: 4%;
}    
  .columna p{
    text-align: justify;
  }




@media screen and (max-width: 480px) {
.voluntariado{
  display: block;
  padding: 0%;
  margin: 0%;
} 
  .importancia-voluntariado{
    display: block;
    margin: 5% 0% 175% 0%;
    padding: 0%;
  } 
    .importancia-voluntariado .imagen{
      display: block;
      margin: 5% 0% 5% 0%;
    }
    .importancia-voluntariado .texto{
      display: block;
      margin: 5% 0% 5% 0%;
      text-align: justify;
    }
  .unete-voluntarios{
    display: block;
    margin: 5% 0% 345% 0%;
  }
    .unete-voluntarios .columnas{
      display: block;
    }
    .columna {
      display: block;
      margin: 8%;
    }
    .columna img, h3, p{
      display: block;
      text-align: justify;
    }
    .imagen-movible{
      width: 70%;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .voluntariado{
    display: flexbox;
  } 
    .importancia-voluntariado{
      display: flex;
      margin: 5% 0% 17% 0%;
      padding: 0%;
    } 
        .importancia-voluntariado .imagen{
          display: 1 1 ;
          flex-direction: column;
          margin: 5% 0% 5% 0%;
        }
        .importancia-voluntariado .texto{
          display: block;
          margin: 5% 0% 5% 0%;
        }

    .unete-voluntarios{
      flex-wrap: wrap;
      margin: 5% 0% 45% 0%;
    }
      
}

@media screen and (min-width: 1025px) and (max-width: 1680px) {
  .voluntariado{
    display: flexbox
  }     
}




@-webkit-keyframes articulos {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


@-webkit-keyframes forma-apoyar {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes importancia-voluntariado {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}





@-webkit-keyframes unete-voluntarios {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}