/*********NORMALIZE *********/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}




/************** MENU ******************/
nav{
    background: #009ac6;
    height: 80px;
    width: 100%;
    position: relative;
    z-index:1000;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a:hover{
color: #d7d118;

}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
li a.active, li a:hover{
    background: #000090;
    transition: 2s;
}
.checkbtn{
    font-size: 30px;
    color: #d7d118;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}

/****************** PORTADA  ****************************/ 
.txt {
    color:  #d7d118 !important;
    background-color:#009ac6;
    border-radius: 15px;
}

/****************** BODY **********************/

.portadaPrincipal1 {
    width:100%; 
    height:auto !important; 
    border: 1px solid #ccc; 
    overflow: hidden; 
    border: 0px;
    padding: 0px;
    margin: 0px;
}

*/
main {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(0, 1fr); 
    gap: 20px; 
    max-width: 100%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.section {
    height: 30%;
    display: flex;
    flex-direction: column; 
    padding: 10px;
}


.section + .section {
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    margin: 0;
}

p {
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
}

.section {
    height: 382px;
    display: flex;
    padding: 25px;

    border-radius: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}



/*********************** CARDS *******************************************/

.texto {
    text-align: center;
}
.card1 IMG,.card2 IMG,.card3 IMG,.card4 IMG {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px; 
}

.card p {
    color: #F5EE36;
    position: relative;
    top:120px;
    font-weight: 10 00;
    background-color: #000090;
    border-radius: 20px;
    padding: 10px;
}
.card {
    position: relative;
    width: 220px;
    height: 320px;
    background: mediumturquoise;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .card::before,
  .card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #009ac6;
    transition: all 0.5s;
    opacity: 0.6;
  }
  
  .card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  
  .card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
  }
  
  .card:hover::before,
  .card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  
  .card:hover:after {
    background-image: url(img/ALBERGUE\ LOGO.jpeg);
    height: 70%;
    content: "";
    opacity: 1;
    transition: 1s;
    color: white;
  }



/****************** FOOTER *********************/

.logo-footer {
    border-radius: 20px;
    box-shadow: 1px 1px 5px #40c9ff;
}
.logo-footer:hover{
    opacity: 0.6;
    transition: 1s;
    transform: scale(0.9);
}

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

/************ iconos redes ****************************/
.facebook { 
   background: url(img/facebook.png);
   background-size: cover;
}
.instagram { 
    background: url(img/instagram.png);
    background-size: cover;
 }
 .twiter { 
    background: url(img/twiter.png);
    background-size: cover;
 }
 .tiktok { 
    background: url(img/tik\ tok.png);
    background-size: cover;
 }
